* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.initial-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: darkslateblue;
}

.initial-field h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.bookshelf {
    width: 90%;
    height: 100%;
}