* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.initial-field {
    width: 100%;
    height: 40%;
    background-color: darkslateblue;
}

.bookshelf {
    width: 90%;
    height: 100%;
}