* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
}

.initial-field {
    width: 100%;
    height: 40%;
    background-color: darkslateblue;
}

.bookshelf {

}