* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.initial-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: darkslateblue;
}

.initial-field h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}

.modal {
    width: 32rem;
    height: 16rem;
    justify-self: center;
    align-self: center;
    border: none;
    background-color: rgba(117, 117, 117, 0.493);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.modal-close {
    align-self: flex-end;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

#book-form {
    justify-self: start;
    width: 80%;
    margin-left: -2rem;
}

#book-form .normal {
    display: flex;
    flex-direction: column;
}

#book-form input {
    margin-bottom: 1rem;
    width: 100%;
    background-color: black;
}

.checkbox-label {
    display: flex;
    justify-self: start;
    align-items: start;
    gap: 0.5rem;
}

.form-actions {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    gap: 3rem;
}

.btn {
    width: 5rem;
    height: 1.6rem;
    border-radius: 7px;
    border: 0.5px solid grey;
}

.btn:hover {
    cursor: pointer;
}

.modal-button {
    width: 7rem;
    height: 2rem;
    font-size: 0.9em;
    color: white;
    background-color: rgb(255, 69, 69);
    border: 1px solid rgba(34, 34, 34, 0.247);
    border-radius: 10px;
    margin-top: 2rem;
    transition: all 0.3s;
}
.modal-button:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.bookshelf {
    width: 90%;
    height: 100%;
}