* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.initial-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: darkslateblue;
}

.initial-field h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}

.modal {
    width: 30rem;
    height: 12rem;
    justify-self: center;
    align-self: center;
}



.modal-button {
    width: 7rem;
    height: 2rem;
    font-size: 0.9em;
    color: white;
    background-color: rgb(255, 69, 69);
    border: 1px solid rgba(34, 34, 34, 0.247);
    border-radius: 10px;
    margin-top: 2rem;
    transition: all 0.3s;
}
.modal-button:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.bookshelf {
    width: 90%;
    height: 100%;
}